* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
.nav {
  background: red;
  padding: 1.2rem;
}
.nav li {
  list-style: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 1.2rem;
  color: #fff;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 1em;
}
.section-left h1 {
  font-size: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-left p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.btn-call-to-action {
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
figure {
  width: 50vw;
  margin: auto;
}

img {
  max-width: 50vw;
}
