:root {
  --header-color: #191716;
  --footer-color: #191716;
  --btn-bkg-color: #f18f01;
  --btn-bkg-color-hover: #f89704;
  --btn-color-active-primary-shadow: #19171641;
  --btn-color-active-secondary-shadow: #f18f01;
  --texto-shadow-color: #191716;
  --bkg-color: #e0e2db;
  --texto-claro: #e0e2db;
  --texto-oscuro: #191716;
  --img-sombra: #6b7d7d;
  --img-border: #e0e2db;
  --primary-font: "Raleway", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}
.header-container {
  background: var(--header-color);
  text-align: right;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav {
  display: inline-block;
  margin: 0 1rem;
}
.nav li {
  display: inline-block;
  list-style: none;
  font-size: 1.6rem;
  margin: 0 1.2rem;
}
.nav a {
  text-decoration: none;
  color: var(--texto-claro);
}
.nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.main-container {
  background: var(--bkg-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  min-height: 60rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
}
.section-left h1 {
  font-size: 3.2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.section-left p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.section-left strong {
  font-size: 2rem;
}
.btn-call-to-action {
  background: var(--btn-bkg-color);
  color: var(--texto-claro);
  text-shadow: 0.1rem 0.1rem 0.2rem var(--texto-shadow-color);
  box-shadow: inset 0.25rem 0.25rem var(--btn-color-active-secondary-shadow),
    inset -0.25rem -0.25rem var(--btn-color-active-primary-shadow);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.btn-call-to-action:hover {
  background: var(--btn-bkg-color-hover);
}
.btn-call-to-action:active {
  box-shadow: inset 0.25rem 0.25rem var(--btn-color-active-primary-shadow),
    inset -0.25rem -0.25rem var(--btn-color-active-secondary-shadow);
  text-shadow: -0.05rem -0.05rem 0.2rem var(--texto-shadow-color);
}
.section-right figure {
  width: 50vw;
}
.section-right img {
  width: inherit;
  border: 0.1rem solid var(--img-border);
  box-shadow: 2rem 0.5rem 10rem var(--img-sombra);
  border-radius: 0.8rem;
}
.footer-container {
  background: var(--footer-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 2rem;
}
.footer-container p {
  color: var(--texto-claro);
  font-size: 1.2rem;
}
